.layout {
    width: 204px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex: 1.4 1 0; */
    color: #8F929D;
}

a {
    color: #323232;
}

.innerBox {
    padding: 0 24px 0 32px;
    margin-top: 28px;
}   

h3 {
    font-size: 15px;
    font-weight: 500;
}

ul {
    color: #323232;
    padding: 0;
    list-style-type: none;
}

.mailbox {
    padding-top: 22px;
    padding-bottom: 7px;
}

.icon {
    margin-right: 9px;
}

.profile {
    padding: 12px;
    display: flex;
    border-top: solid 1px #8E8E93;
}

button {
    width: 125px;
    height: 45px;
    border-radius: 22px;
    color: #FFF;
    background: #00B96E;
    box-shadow: 0 0 15px #079C5F;
    border: none;
    outline: none;
}

button:active,
button:focus {
    outline: none;
}

.profileImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 4px;
}

.name {
    color: #323232;
    font-size: 14px;
}

.mail {
    color: #323232;
    font-size: 10px;
}