@font-face {
    font-family: 'UIDisplay';
    src: local('MyFont'), url(../assets/fonts/ofont.ru_SF\ UI\ Display.ttf) format('ttf');
}
body {
    background: #379AFF;
}
.container {
    width: 1320px;
    margin: 0 auto;
    font-size: 14px;
    box-shadow: 0 5px 50px #1A37DC;
    background: #FFF;
    color: #8E8E93;
    border-radius: 4px;

}